body {
  font-family: andale mono, monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('Images/sunrise.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  font-family: andale mono, monospace;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 42px;
  opacity: 0.6;
  font-weight: 800;
}

p {
  font-size: 18px;
  margin: 30px 0;
  max-width: 700px;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countdown-item {
  text-align: center;
  margin: 0 10px;
  border-radius: 10px;
  padding: 3px;
}

.countdown-item span {
  display: block;
  font-size: 24px;
  font-weight: bold;

}

.countdown-item span:last-child {
  font-size: 16px;
  font-weight: normal;
}
